<div class="container">
  <div class="well">
    <p>Survey by: <%= @survey.user.username %></p>
    <h1><%= @survey.title %></h1>
  </div>

  <p> <a href="/surveys/<%= @survey.id %>">Survey url: </a> "http://localhost:3000/surveys/ <%= @survey.id %>"</p>
  <h1>Results: </h1>
  <% @questions.each_with_index do |question, idx| %>
    <p>Question <%= idx + 1 %>: </p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="action">
          <td> <%= question.prompt %></td>
          <td> Number of votes:</td>
        </tr>
      </thead>
      <tbody>
        <% question.possible_answers.each do |poss_answer| %>
          <tr>
            <th class="answer-content"> <%= poss_answer.content %></th>
            <th class="count"> <%= poss_answer.count  %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= react_component("Graph", {question: question.prompt, answer1: {content: question.possible_answers.first.content, count: question.possible_answers.first.count}, answer2: {content: question.possible_answers[1].content, count: question.possible_answers[1].count }, answer3: {content: question.possible_answers.last.content, count: question.possible_answers.last.count }}) %>
  <% end %>
</div>
